<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col">Student</th>



  </tr>
  </thead>
  <% @students.each do |student| %>
    <tbody>
    <tr>
      <%if student.book_id.nil? %>
      <td><%= link_to student.name, display_path(:id1 =>student.id) %></td>
      <td></td>
        <%end %>
  <%end%>
  </tr>
  </tbody>
</table>
